.container {
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(10deg, rgb(240, 171, 234) 10%, rgb(145, 145, 245) 100%);
}

.card:hover .card-overlay {
    opacity: 1;
}

.webpg {
    color: black;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

h5:hover {
    color: blueviolet;
}